@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/2B84B5_0_0.eot');
    src: url('../fonts/2B84B5_0_0.eot#iefix') format("embedded-opentype"), url('../fonts/2B84B5_0_0.woff') format("woff"), url('../fonts/2B84B5_0_0.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('../fonts/2B84B5_1_0.eot');
	src: url('../fonts/2B84B5_1_0.eot?#iefix') format("embedded-opentype"), url('../fonts/2B84B5_1_0.woff') format("woff"), url('../fonts/2B84B5_1_0.ttf') format("truetype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('../fonts/2B84B5_2_0.eot');
	src: url('../fonts/2B84B5_2_0.eot?#iefix') format("embedded-opentype"), url('../fonts/2B84B5_2_0.woff') format("woff"), url('../fonts/2B84B5_2_0.ttf') format("truetype");
	font-weight: normal;
	font-style: italic
}

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

html, body {
    height: 100%;
}

body {
    background: #040404 url('../images/homebg.png') no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    font-family: 'PFDinTextCondPro', Arial, Helvetica, sans-serif;
}

div#wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -40px;
    display: table;
    width: 100%;
}

div#wrap2 {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 60px;
}

div#content {
    margin: 0 auto 30px auto;
}

div#text {
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    margin: 25px 0 20px 0;
    text-shadow: 1px 1px #000;
    cursor: default;
}

div#logo {
    margin: 10px auto 10px auto;
    background: url('../images/logo.png') no-repeat;
    width: 500px;
    height: 300px;
}

ul#nav {
    text-align: center;
}

ul#nav li {
    display: inline-block;
    margin: 80px 10px 0 10px;
    width: 245px;
    height: 79px;
    background: url('../images/homenav.png') bottom no-repeat;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    line-height: 80px;
    cursor: pointer;
    color: whitesmoke;
}

#nav li a {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    position: relative;
}

#nav li a img {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 160px;
    opacity: 0;
    left: 0;
    margin: auto;
    transition: all 300ms ease-in;
}

#nav li a:hover {
    color: whitesmoke;
}

#nav li a:hover img {
    opacity: 0.7;
    bottom: -4px;
}

#nav li.enabled:hover {
    background-position: top;
}

#nav li.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

div#search-wrapper {
    width: 100%;
    max-width: 1024px;
    font-family: 'PFDinTextCondPro', Arial, sans-serif;
    font-size: 20px;
    margin: 60px auto 0px auto;
}

div#search-input-wrapper {
    background: #1d1304;
    background: linear-gradient(to right, #1d1304 0%, #050505 100%);
    width: 300px;
    margin: auto;
    color: #917A4E;
    text-shadow: 0px 0px 10px #1D170D;
    border: 1px solid #1F1408;
    height: 35px;
    line-height: 32px;
    border-radius: 2px;
}

div.sticky {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -151px !important;
    background: rgba(0, 0, 0, 0.7);
}

div#search-input-wrapper .fa-search {
    padding-left: 10px;
}

div#search-input-wrapper .fa-times {
    padding-right: 10px;
    cursor: pointer;
}

div#search-input-container {
    width: 100%;
    height: 26px;
}

div#search-input-wrapper > input {
    width: 244px;
    padding-left: 10px;
    border: none;
    background: none;
    color: #B0A693;
    font-family: 'PFDinTextCondPro', Arial, sans-serif;
    font-size: 20px;
}

div#search-input-wrapper > input::-webkit-input-placeholder {
    color: #5D5344;
}

div#search-input-wrapper > input:-moz-placeholder {
    color: #5D5344;
}

div#search-input-wrapper > input::-moz-placeholder {
    color: #5D5344;
}

div#search-input-wrapper > input:-ms-input-placeholder {
    color: #5D5344;
}

div#search-results-wrapper {
    width: 100%;
    padding-top: 10px;
}

ul#results {
    width: 100%;
    list-style-type: none;
    text-align: left;
}

ul#results > li {
    width: 100%;
    margin-bottom: 10px;
    color: #635540;
}

ul#results > li > div > a {
    text-transform: uppercase;
    margin: -0.35em 0 0.25em;
    font-size: 20px;
    color: #F0CB0B;
    text-decoration: none;
}

div.searchDescription {
    width: 100%;
    display: table;
    table-layout: fixed;
}

div.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#footer, div#push {
    height: 40px;
}

div#footer {
    font-size: 13px;
    text-align: center;
    color: #999;
    cursor: default;
    padding: 0 10px;
    max-width: 765px;
    margin: 0 auto;
}

div#footer > span > a,
div#footer > span > a:visited,
div#footer > span > a:active {
    color: #bbb;
    text-decoration: none;
}

div#lang {
    text-align: center;
}

div#lang-switcher {
    margin: 0 auto;
}

div#lang-switcher .dd-select {
    background: rgba(0, 0, 0, 0) !important;
    border: solid 1px #635540;
    color: #635540;
}

div#lang-switcher .dd-pointer-down {
    border-top: solid 5px #635540;
}

div#lang-switcher .dd-pointer-up {
    border-bottom: solid 5px #635540 !important;
}

div#lang-switcher .dd-selected-image, div#lang-switcher .dd-options-image {
    opacity: 0.5;
}

div#lang-switcher .dd-options {
    background: rgba(0, 0, 0, 0) !important;
    border: solid 1px #635540;
    box-shadow: none;
    line-height: 22px;
}

div#lang-switcher .dd-options > li {
    border-bottom: solid 1px #635540;
}

div#lang-switcher .dd-options > li:last-child {
    border-bottom: none;
}

div#lang-switcher .dd-option {
    background: rgba(0, 0, 0, 0.9) !important;
    color: #635540;
    border: none;
}

div#lang-switcher .dd-option:hover {
    background: rgba(33, 29, 24, 0.95);
}

div#lang-switcher .dd-selected-text, div#lang-switcher .dd-option-text {
    cursor: pointer;
}

div#footer > a:hover {
    color: #ddd;
    text-decoration: underline;
}

i.close-search {
    display: none;
}

@media all and (max-width: 800px) {
    body {
        background-position: right center;
    }
}

@media all and (max-width: 1075px) {
    div#content {
        max-width: 800px;
    }
}